<div class="title">
    <h1 class="title__heading">Search Results</h1>
  </div>
  
  <section class="gifts">
  
    <ul class="gift-ul">
      <% data.forEach(post => { %>
        <li>
          <a href="/post/<%= post._id %>">
            <span><%= post.title %></span>
            <span class="gift-list__date"><%= post.createdAt.toDateString() %></span>
          </a>
        </li>
      <% }) %>
    </ul>
  
  
  </section>
